nav {
  .navbar-brand {
    font-size: 30px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .navbar-item {
    font-size: 22px;

    &:hover {
      text-decoration: none;
    }
  }
  .logo {
    width: 50px;
    max-height: 50px;
  }
}
