.testimonials {
  padding: 7rem 0;
  .testimonial-item {
    max-width: 18rem;
    img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px $gray-500;
    }
  }

  .portrait {
    width: 14vw;
    height: 14vw;
    margin: 2rem auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px $gray-500;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
      width: 35vw;
      height: 35vw;
    }

    &--dg {
      background-image: url("../img/dg.png");
    }

    &--pdk {
      background-image: url("../img/Peter.png");
    }

    &--sc {
      background-image: url("../img/Sebastian.png");
    }
  }
}

.person {
  min-height: 130px;
}

.theWhy {
  min-height: 230px;
}
